<a href="https://colab.research.google.com/github/chaitanya041/python-practice/blob/main/PythonBasics_Practice(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
### Python - Practice

## Python - Practice - 17/08/2021

## Python Keywords and Identifiers

Rules for writing identifiers:
* It can be a combination of letters in lowercase (a to z) or uppercase (A to Z) or digits (0 to 9).
* It can be an underscore _. 
* Example : myCar, str_1, var_23 
* multiple words can be separated using an underscore like this_is_a_sentence.
* An identifier cannot start with a digit. 1variable is invalid, but variable1 is a valid name.
* Keywords cannot be used as identifiers . 
example : global = 40
* special symbols like !, @, #, $, % etc. cant  not used as identifiers
identifier size can be of any length
* Python is a case-sensitive language. Example :  Variable and variable a

## Python Statement

In [ ]:
var1 = 10     # is a  assignment statement
var = 31_87 
A9 = 9

### Multiline statements:

sum = 100 + 25 + 30 + \
    49 + 58 + 62 + \
    70 + 82 + 94

In [ ]:
temp = (10 + 32 + 53 +
    40 + 52 + 46 +
    27 + 68 + 59)

sum = 100 + 25 + 30 +\
49 + 58 + 62 +\
70 + 82 + 94

car_Colours = ['red',
                'blue',
                'green']


a = 1; b = 2; c = 3

## Python Indentation

In [ ]:
for k in range(1,10) :
    print(k)
   # if k == 5 + 4:
    #    break

if True:
    print('Hello')
   # a = 5

#if True: print('Hello'); 
#a = 5

1
2
3
4
5
6
7
8
9
Hello

Python Comments

In [ ]:
#   This is a comment
#   print name of the course

print('Welcome to OOP Course')


"""This is also a 
 an example of
 multi-line comments"""

Welcome to OOP Course

'This is also a \n an example of\n multi-line comments'

## doc string comments

In [ ]:
def sum(num):
    """Function to the values"""
  #  return 2+num

print(sum.__doc__)

Function to the values