<a href="https://colab.research.google.com/github/chaitanya041/python-practice/blob/main/Python_DataTypes_Practice(_4_).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



## Data types in Python
Objectives : 
* To learn about different data types you can use in Python.

Every value in Python has a datatype. Since everything is an object in Python programming, data types are actually classes and variables are instance (object) of these classes.

There are various data types in Python. 

### Python Numbers
* Integers, floating point numbers and complex numbers are listed under Python Numbers Category.
* Python numbers are defined as int, float and complex classes in Python.

In [ ]:
temp = 5
print(temp, "is of type", type(temp))

Size = 2.0
print(Size, "is of type", type(Size))

complexNum = 1+2j
print(complexNum , "is complex number?", isinstance(1+2j,complex))

5 is of type <class 'int'>
2.0 is of type <class 'float'>
(1+2j) is complex number? True

## Python List
List in python is an ordered sequence of items.
* It is one of the most used datatype in Python and is very flexible.
* All the items in a list can be different data type.
* list Items separated by commas are enclosed within brackets [ ].
* Use the slicing operator [ ] to extract an item or a range of items from a list.
* The index starts from 0 in Python.
* Lists are mutable, meaning, the value of elements of a list can be altered.

In [ ]:
temp = [5,10,15,20,25,30,35,40]

# temp[2] = 15
print("a[2] = ", temp[2])

# temp[0:3] = [5, 10, 15]
print("temp[0:3] = ", temp[0:3])

# temp[5:] = [30, 35, 40]
print("temp[5:] = ", temp[5:])

a = [1, 2, 3]
a[2] = 4       # mutable
print(a)

a[2] =  15
temp[0:3] =  [5, 10, 15]
temp[5:] =  [30, 35, 40]
[1, 2, 4]

## Python Strings
* Strings is sequence of Unicode characters.
* use single quotes or double quotes to represent strings.
* Multi-line strings can be denoted using triple quotes, ''' or """

In [ ]:
str1 = 'Hello world!'

# str1[4] = 'o'
print("str1[4] = ", str1[4])

# str1[6:11] = 'world'
print("str1[6:11] = ", str1[6:11])

# Generates error
# Strings are immutable in Python
#str1[5] ='d'

str1[4] =  o
str1[6:11] =  world

## Python Set
* Set is an unordered collection of unique items.
* Set is defined by values separated by comma inside braces { }.
* Items in a set are not ordered.
* set are unordered collection, indexing has no meaning. Hence, the slicing operator [] does not work.

In [ ]:
test = {5,2,3,1,4}

# printing set variable
print("test = ", test)

# data type of variable a
print(type(test))


sample = {1,2,3}
print(sample[1])  # does not work

test =  {1, 2, 3, 4, 5}
<class 'set'>

TypeError: ignored

## Python Dictionary
* Dictionary is an unordered collection of key-value pairs.
* Dictionaries are used when there is large dataset processing.
* Dictionaries are optimized for retrieving data.
* key is required to retrieve the value.
* Dictionaries are defined within braces {} with each item being a pair in the form key:value.
* Key and value can be of any type.

In [ ]:
dict1 = {1:'value','key':4}
print(type(dict1))

print("dict1[1] = ", dict1[1])

print("dict1['key'] = ", dict1['key'])

<class 'dict'>
dict1[1] =  value
dict1['key'] =  4

## Conversion between data types
Data types can be converted using different type conversion functions like int(), float(), str(), etc.

In [ ]:
float(5)
a=int(10.6)
float('2.5')
print("\n",a)
str(25)

 10

'25'

## Type Conversion
The process of converting the value of one data type (integer, string, float, etc.) to another data type is called type conversion. Python has two types of type conversion.

* Implicit Type Conversion
* Explicit Type Conversion

## Implicit Type Conversion
In Implicit type conversion, Python converts one data type to another data type. This process doesnâ€™t need any user involvement.

In [ ]:
var_int = 123
var_float = 1.23

var_new = var_int + var_float

print("datatype of var_int:",type(var_int))
print("datatype of var_float:",type(var_float))

print("Value of num_new:",var_new)
print("datatype of var_new:",type(var_new))

datatype of var_int: <class 'int'>
datatype of var_float: <class 'float'>
Value of num_new: 124.23
datatype of var_new: <class 'float'>

### Addition of string(higher) data type and integer(lower) datatype

In [ ]:
var_int = 300
var_str = "500"

print(var_int + var_str)

TypeError: ignored

## Explicit Type Conversion

In Explicit Type Conversion, users convert the data type of an object to required data type. Users use the predefined functions like int(), float(), str(), etc to perform explicit type conversion.

In [ ]:
num_int = 500
num_str = "390"

print("Data type of num_int:",type(num_int))
print("Data type of num_str before Type Casting:",type(num_str))

num_str = int(num_str)
print("Data type of num_str after Type Casting:",type(num_str))

num_sum = num_int + num_str

print("Sum of num_int and num_str:",num_sum)
print("Data type of the sum:",type(num_sum))

Data type of num_int: <class 'int'>
Data type of num_str before Type Casting: <class 'str'>
Data type of num_str after Type Casting: <class 'int'>
Sum of num_int and num_str: 890
Data type of the sum: <class 'int'>