<a href="https://colab.research.google.com/github/chaitanya041/python-practice/blob/main/string_practice_problems.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
sum = 40
sum = 40.5
var1 = " Test"
var2 = True

print(sum,var1,var2)

40.5  Test True

In [ ]:
list1 = [1,10,20,30,12,19]
list2 = [5,8,9,10,17,18,20]
print(list1+list2)
print(list1[1]-list2[2])

[1, 10, 20, 30, 12, 19, 5, 8, 9, 10, 17, 18, 20]
1

In [ ]:
i = 1
while True:
  if i%3 == 0:
    break
  print(i,'',end='')
  i = i+1

1 2

In [ ]:
a,b,c = "hjs",42,45
print(a,b,c)
a,b,c = "hjs"
print(a,b,c)

hjs 42 45
h j s

In [ ]:
courseName = "This is OOP using Python course"
core_Course = "Y"
multiline_comments = """This course is offered for second year CS students """
new_unicode = u"\u00dcnic\u00f6de"
imp_raw_str = r"raw \n string"

print(courseName)
print(core_Course)
print(multiline_comments)
print(new_unicode)
print(imp_raw_str)

This is OOP using Python course
Y
This course is offered for second year CS students
Ünicöde
raw \n string

In [ ]:
m = (1 == True)
y = (1 == False)
l = True + 5
m = False + 40

print("m is", m)
print("y is", y)
print("l:", l)
print("m:", m)

m is 40
y is False
l: 6
m: 40

In [ ]:
food = "Available"
junkfood = None

def menu(x):
    if x == food:
        print(food)
    else:
        print('not available')

menu(food)
menu(junkfood)

Available
not available

string practice problems

In [ ]:
# python strings slicing 

s = 'Beautiful palace'
print(s[:], "\n")
print(s[::],"\n")
first_five_chars = s[:5]
print("First Five characters :", first_five_chars, "\n")
third_to_fifth_chars = s[2:5]
print("Third_to_fifth_chars:" ,third_to_fifth_chars, "\n")

Beautiful palace

Beautiful palace

First Five characters : Beaut

Third_to_fifth_chars: aut

In [ ]:
# problem 2: Slicing of strings using function slice
py_string = 'LearningPythonFromBook'

# start = -1, stop = -4, step = -1
# includes  indices -1, -2 and -3
slice_object1 = slice(-1, -10, -1)
slice_object2 = slice(15, 5, -1)
slice_object3 = slice(1, 6, 1)

print(py_string[slice_object1],"\n", py_string[slice_object2],"\n",py_string[slice_object3])

kooBmorFn
 rFnohtyPgn
 earni

In [ ]:
# Reverse a String using Slicing
s = 'HelloWorld'
reverse_str = s[::-1]
print(reverse_str)
s1 = s[2:8:2]
print(s1)
s1 = s[8:1:-1]
print(s1)

dlroWolleH
loo
lroWoll

In [ ]:
# Python slice works with positive indexes
s= "ThisIsDataStructuresClass"
s1 = s[-15:-6]
print("1.Python slice works with positive indexes ",s1)
s1 = s[2:15:3]
print("2.Python slice works with positive indexes ",s1)
s1= s[4:50]
print("3.Python slice works with higher indexes: ", s1)

# Python slice works with negative indexes 
s = 'PythonIsEasyToLearn'
s1 = s[10:4:-1]
print("4.Python slice works with negative indexes: ", s1)
s = 'Python'
s1=s[100:]
print("5. Python gives none when ther is no slicing possible : ", s1)

1.Python slice works with positive indexes  Structure
2.Python slice works with positive indexes  isttc
3.Python slice works with higher indexes:  IsDataStructuresClass
4.Python slice works with negative indexes:  saEsIn
5. Python gives none when ther is no slicing possible :

In [ ]:
#Program to get a substring from the given string 
py_string = 'Python book'
# contains 0, 1 and 2 indices
slice_object = slice(3) 
print("substring is : ", py_string[slice_object])  # Pyt

# start = 1, stop = 6, step = 2
# contains 1, 3 and 5 indices

slice_object = slice(1, 6, 2)
print("substring :", py_string[slice_object])   # yin

substring is :  Pyt
substring : yhn

In [ ]:
# Note:  different values for the id

b = 2      # refer to same id

print('id(2) =', id(2))

print('id(b) =', id(b))


b = b+1

print('id(b) =', id(b))

print('id(3) =', id(3))    # refer to different id

id(2) = 94443616844320
id(b) = 94443616844320
id(b) = 94443616844352
id(3) = 94443616844352

In [ ]:
def outer_function():
    a = 20

    def inner_function():
        a = 30
        print('a =', a)

    inner_function()
    print('a =', a)


a = 10
outer_function()
print('a =', a)

a = 30
a = 20
a = 10

In [ ]:
# three different variables a are defined in separate namespaces and accessed 

def outer_function():
    global a
    a = 20

    def inner_function():
        global a
        a = 30
        print('a =', a)

    inner_function()
    print('a =', a)


a = 10
outer_function()
print('a =', a)

a = 30
a = 30
a = 30

In [ ]:
print(2+3*4)
print((2+3)*4)
print(2**10)
print(6/3)
print(7/3)
print(7//3)
print(7%3)
print(3/6)
print(3//6)
print(3%6)
print(2**100)
print(5==10)
print(10 > 5)
print((5 >= 1) and (5 <= 10))

14
20
1024
2.0
2.3333333333333335
2
1
0.5
0
3
1267650600228229401496703205376
False
True
True

In [ ]:
x = 'Hello world'
y = {1:'a',2:'b'}

# Output: True
print('H' in x)

# Output: True
print('hello' not in x)

# Output: True
print(1 in y)

# Output: False
print('a' in y)

True
True
True
False